

.stage {
  position: relative;
  max-height: 15rem;
  overflow: hidden;
  background-color: #F5F2E5;
  margin: 0 1.5rem 0 1.5rem;

  @extend %tac;
  @extend %container;

  @include bp(small) {
    min-height: 16rem;
    max-height: none;
    margin: 0;
  }
}

.stage--home {
  max-height: none;
}

.stage__image {
  width: 100%;
  max-width: 100%;
  max-height: 85vh;
}

.stage__content {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: 15%;

  @include bp(small) { bottom: 15%; }

  @include bp(xlarge) { bottom: 15%; }
}

.stage__content--subpage {
  bottom: auto;
  top: 44%;
  @include bp(small) { top: 42%; }
  
}

.stage__headline-index {
  color: $color-black;
  margin-bottom: 12px;
  font-size: $font-size-39;
}

.stage__img {
  width: 100%;
  max-width: 100%;
  // see separate _module_stage-keyvisual for svg animations
}

.banner-shown .stage,
.banner-shown .nav-main + .g-organizers {
  padding-top: 144px;

  @include bp(xsmall) {
    padding-top: 159px;
  }

  @media screen and (min-width: 37.5em) { padding-top: 136px; }
}
